<section class="container container-hero">
  <div class="hero-bg">
    <h1 class="greeting">Hello.<br>I’m Fullstack developer<br>Lloyd Jefferson.</h1>
    <ul class="social-media-list">
      <li class="hero-social"><a class="hero-social-link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">IG</a></li>
      <li class="hero-social"><a class="hero-social-link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">FB</a></li>
      <li class="hero-social"><a class="hero-social-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">YT</a></li>
      <li class="hero-social"><a class="hero-social-link" href="https://github.com/Nevskiy911/dark-coders-22" target="_blank" rel="noopener noreferrer">GH</a></li>
      <li class="hero-social"><a class="hero-social-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
    </ul>
  </div>
</section>
