<section id="projects" class="container">
  <div class="projects">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper">
      <ul class="projects-list">
        <div class="swiper-wrapper">
          <!------------- слайд 1 ------------------->
          <div class="swiper-slide">
            <li class="projects-item">
              <div class="projects-slide">
                <div class="projects-slide-info">
                  <ul class="projects-slide-info-tech-list">
                    <li class="projects-slide-info-tech-item">#react</li>
                    <li class="projects-slide-info-tech-item">#js</li>
                    <li class="projects-slide-info-tech-item">#node</li>
                    <li class="projects-slide-info-tech-item">#git</li>
                  </ul>
                  <h3 class="projects-slide-info-subtitle">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </h3>
                  <div class="projects-wrapper-link">
                    <a
                      class="projects-link"
                      href="https://nevskiy911.github.io/dark-coders-22/"
                      aria-label="Watch our project"
                      target="_blank"
                      >See project</a
                    >
                  </div>
                </div>
                <div class="projects-slide-img">
                  <picture>
                    <source
                      srcset="
                        /img/projects/project-read-desk-1x.jpg 1x,
                        /img/projects/project-read-desk-2x.jpg 2x
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                        /img/projects/project-read-tab-1x.jpg 1x,
                        /img/projects/project-read-tab-2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        /img/projects/project-read-mob-1x.jpg 1x,
                        /img/projects/project-read-mob-2x.jpg 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      class="projects-img"
                      src="/img/projects/project-read-mob-1x.jpg"
                      alt="project reading book"
                      width="614"
                    />
                  </picture>
                </div>
              </div>
            </li>
          </div>
          <!------------- слайд 2 ------------------->
          <div class="swiper-slide">
            <li class="projects-item">
              <div class="projects-slide">
                <div class="projects-slide-info">
                  <ul class="projects-slide-info-tech-list">
                    <li class="projects-slide-info-tech-item">#react</li>
                    <li class="projects-slide-info-tech-item">#js</li>
                    <li class="projects-slide-info-tech-item">#node</li>
                    <li class="projects-slide-info-tech-item">#git</li>
                  </ul>
                  <h3 class="projects-slide-info-subtitle">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </h3>
                  <div class="projects-wrapper-link">
                    <a
                      class="projects-link"
                      href="https://nevskiy911.github.io/dark-coders-22/"
                      aria-label="Watch our project"
                      target="_blank"
                      >See project</a
                    >
                  </div>
                </div>
                <div class="projects-slide-img">
                  <picture>
                    <source
                      srcset="
                        /img/projects/project-dog-desk-1x.jpg 1x,
                        /img/projects/project-dog-desk-2x.jpg 2x
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                        /img/projects/project-dog-tab-1x.jpg 1x,
                        /img/projects/project-dog-tab-2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        /img/projects/project-dog-mob-1x.jpg 1x,
                        /img/projects/project-dog-mob-2x.jpg 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      class="projects-img"
                      src="/img/projects/project-dog-mob-1x.jpg"
                      alt="project dog"
                      width="385"
                    />
                  </picture>
                </div>
              </div>
            </li>
          </div>
          <!------------- слайд 3 ------------------->
          <div class="swiper-slide">
            <li class="projects-item">
              <div class="projects-slide">
                <div class="projects-slide-info">
                  <ul class="projects-slide-info-tech-list">
                    <li class="projects-slide-info-tech-item">#react</li>
                    <li class="projects-slide-info-tech-item">#js</li>
                    <li class="projects-slide-info-tech-item">#node</li>
                    <li class="projects-slide-info-tech-item">#git</li>
                  </ul>
                  <h3 class="projects-slide-info-subtitle">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </h3>
                  <div class="projects-wrapper-link">
                    <a
                      class="projects-link"
                      href="https://nevskiy911.github.io/dark-coders-22/"
                      aria-label="Watch our project"
                      target="_blank"
                      >See project</a
                    >
                  </div>
                </div>
                <div class="projects-slide-img">
                  <picture>
                    <source
                      srcset="
                        /img/projects/project-people-desk-1x.jpg 1x,
                        /img/projects/project-people-desk-2x.jpg 2x
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                        /img/projects/project-people-tab-1x.jpg 1x,
                        /img/projects/project-people-tab-2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        /img/projects/project-people-mob-1x.jpg 1x,
                        /img/projects/project-people-mob-2x.jpg 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      class="projects-img"
                      src="/img/projects/project-people-mob-1x.jpg"
                      alt="project people"
                      width="311"
                    />
                  </picture>
                </div>
              </div>
            </li>
          </div>
        </div>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="btns-swiper">
      <button class="projects-swiper-btn left-btn">left</button>
      <button class="projects-swiper-btn right-btn">right</button>
    </div>
  </div>
</section>
